<header class="masthead">
  <div class="masthead-inner">
    <h1>{{ site.title }}</h1>
    <p class="lead">{{ site.description }}</p>
    <div class="colophon">
      <ul class="colophon-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      <p>&copy; 2014. {{ site.author.name }} All rights reserved.</p>
      <p style="font-size: 1.2em;">
        <a href="http://github.com/CITguy" target="_blank" class="fa fa-github"></a>
        <a href="http://twitter.com/CITguy" target="_blank" class="fa fa-twitter"></a>
        <a href="http://jsfiddle.net/user/CITguy/" target="_blank" class="fa fa-jsfiddle"></a>
        <a href="http://stackoverflow.com/users/1014689/citguy" target="_blank" class="fa fa-stack-overflow"></a>
      </p>
    </div>
  </div>
</header>
